@import "tailwindcss";


@theme {
  --color-main: #0A4DB8 ;
  --color-sec: #2D465E ;
  --color-bwhite: #F3F6FB ;

}
@font-face {
  font-family: nunito;
  src: url('/Nunito-Regular.ttf');
}
@font-face {
  font-family: nunito;
  src: url('/Nunito-bold.ttf');
  font-weight: 500;
}
*{
  font-family: nunito;
}

.loader {
  width: 40px;
  aspect-ratio: 1.154;
  --_g: no-repeat radial-gradient(farthest-side,#0033be 90%,#001fba00);
  background: 
    var(--_g) 50%  0,
    var(--_g) 0    100%,
    var(--_g) 100% 100%;
  background-size: 35% calc(35%*1.154);
  animation: l16 1s infinite;
}
@keyframes l16{ 
    50%,100% {background-position: 100% 100%,50% 0,0 100%} 
}

/* .slick-prev::before,
.slick-next::before {
  color: #1d4ed8;  
  font-size: 34px;
  background-color: #000a1f;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: #909090;
} */
